@use "../index.scss" as *;

.app {
  min-height: 100vh;
  position: relative;
  display: flow-root;

  &::before {
    content: "";
    position: absolute;
    background-color: $primaryColor;
    height: 40%;
    width: 100%;
    z-index: -1;
  }
}

.mainWrapper {
  max-width: min(45rem, 90%);
  margin: 0 auto;
}

.app__mainTitle {
  text-align: center;
  color: #fff;
  margin: 2rem 0;
  text-transform: uppercase;
}

.add__nuevoGasto {
  position: fixed;
  width: 2.5rem;
  background-color: rgba(0 0 0 / 0);
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  border: 1px;
}
