@use "../index.scss" as *;

.filtrar {
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px rgba(177, 174, 174, 0.438);
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  @include mediaChange(sm) {
    flex-direction: row;
  }

  label {
    font-size: 1.2rem;
    font-weight: 800;

    @include mediaChange(sm) {
      width: 40%;
    }
  }

  select {
    background-color: $slateBackground;
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
    border: none;
  }
}

/****************************
*   LISTADO GASTOS
********************************/
.listado {
  margin: 2rem 0;
}
